<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :cnpj %><br />
    <%= f.number_field :cnpj %>
  </div>
  <div class="field">
    <%= f.label :razSocial %><br />
    <%= f.text_field :razSocial %>
  </div>
  <div class="field">
    <%= f.label :ender %><br />
    <%= f.text_field :ender %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
