<h1>Listing condominos</h1>

<table>
  <tr>
    <th>Unidade</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @condominos.each do |condomino| %>
  <tr>
    <td><%= condomino.unidade %></td>
    <td><%= condomino.nome %></td>
    <td><%= link_to 'Show', condomino %></td>
    <td><%= link_to 'Edit', edit_condomino_path(condomino) %></td>
    <td><%= link_to 'Destroy', condomino, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Condomino', new_condomino_path %>
